<h1>New games</h1>

<div class="game">
  <% @letters.each do |letter| %>
    <div class="lettre"> <%= letter %></div>
  <% end %>
</div>

<br>

<p class="">What's the longest word you can find?</p>

<form action="/score" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token  %>
  <%= hidden_field_tag :letters, @letters  %>
  <input type="text" name="word" placeholder="type your word">
  <input type="submit" value="Play!">
</form>
